.fact-div p {
    background-color: #f8b05dd0;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
}

.fact-div{
    text-align: center;
    margin: 0 auto;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
}

.image-hoster {
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    background-color: rgba(175, 255, 186, 0.808);
    border-radius: 20px;
    max-width: 480px;
    max-height: 480px;
    margin: 0 auto;
}

.random-image {
    max-width: 95%;
    max-height: 95%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #88bffd;
}

p {
    font-size: 1.18rem;
    line-height: 1.6;
}

h1 {
    font-size: 3.5rem;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quando', serif;
}

.navbar {
    font-family: 'Quando', serif;
    color: #20533b;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    background-color: #4bc58c;
    color: #FFFF;
}

.footer{
    text-align: center;
    padding: 20px 0;
    color: #999;
    font-size: 0.9rem;
}
.about {
    background-color: rgba(175, 255, 186, 0.808);
    padding: 60px 45px;
    display: flex;
    justify-content: left;
    padding: 30px 30px;
    margin: 0 auto;
    max-width: 90%;
    border-radius: 5px;
}

.about-inner {
    max-width: 90%;
    text-align: left;
}

.disclaimer {
    background-color: rgba(175, 255, 186, 0.808);
    padding: 60px 45px;
    display: flex;
    justify-content: left;
    padding: 30px 30px;
    margin: 0 auto;
    max-width: 90%;
    border-radius: 5px;
}

.disclaimer-inner {
    max-width: 90%;
    text-align: left;
}

.disclaimer-inner h3 {
    text-align: center;
}

.fillout {
    background-color: rgba(175, 255, 186, 0.808);
    padding: 60px 45px;
    display: flex;
    justify-content: left;
    padding: 30px 30px;
    margin: 0 auto;
    max-width: 90%;
    border-radius: 5px;
}

.fillout-form {
    max-width: 90%;
    text-align: left;
}

.form-buttons {
    display: flex;
    justify-content: space-evenly;
}

.results-display {
    padding: 60px 45px;
}

.example {
    padding: 60px 45px;
}

.example-image {
    padding: 60px 45px;
}

.calculators {
    padding: 60px 45px;
}

.calulator-notes {
    padding: 60px 45px;
}

/* palette: 
green - 5EF8B0 
blue - 5DA6F8 
pink - F85DA6 
orange - F8B05D */

/* text: 
headings - Quando
body -  Source Sans Pro*/