{% extends 'base.html' %}

{% block title %}Find out the true protein content in your pet food!{% endblock %}

{% block body %}
<h3>True protein calculators</h3>

<!-- insert an image here showing the crude protein & moisture contents circled on a ingredient label -->

<h2>Pet food 1</h2>
    <form id=calc1>
    <label for="crude-protein">Enter the crude protein percentage shown on the ingredient label</label>
    <input type="number" id="crude-protein" name="crude-protein" step=".01"/>
    <label for="moisture">Enter the moisture percentage shown on the ingredient label</label>
    <input type="number" id="moisture" name="moisture" step=".01"/>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset"/>
    </form>
<p>True protein content: <span id="true-protein"></span></p>

<h2>Pet food 2</h2>
    <form id=calc2>
    <label for="crude-protein">Enter the crude protein percentage shown on the ingredient label</label>
    <input type="number" id="crude-protein" name="crude-protein" step=".01"/>
    <label for="moisture">Enter the moisture percentage shown on the ingredient label</label>
    <input type="number" id="moisture" name="moisture" step=".01"/>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset"/>
    </form>
<p>True protein content: <span id="true-protein2"></span></p>

<!-- insert some text about how why it's necessary to calculate this stuff
kibble vs kibble, canned vs canned, canned vs kibble -->

{% endblock %}

{% block js %}
<script src="/static/scripts.js"></script>
{% endblock %}