{% extends 'base.html' %}

{% block title %}Find out the true protein content in your pet food!{% endblock %}

{% block body %}
<h3>True protein calculators</h3>

<img src="/data/label.jpg" id="example-img" class="example-img">

<h2>Pet food 1</h2>
    <form id=calc1>
    <label for="crude-protein">Enter the crude protein percentage shown on the ingredient label</label>
    <input type="number" id="crude-protein" name="crude-protein" step=".01" min="0.01" max="99.99"/>
    <br>
    <label for="moisture">Enter the moisture percentage shown on the ingredient label</label>
    <input type="number" id="moisture" name="moisture" step=".01" min="0.01" max="99.99"/>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset"/>
    </form>
<p>True protein content: <span id="true-protein"></span></p>

<h2>Pet food 2</h2>
    <form id=calc2>
    <label for="crude-protein">Enter the crude protein percentage shown on the ingredient label</label>
    <input type="number" id="crude-protein" name="crude-protein" step=".01" min="0.01" max="99.99"/>
    <br>
    <label for="moisture">Enter the moisture percentage shown on the ingredient label</label>
    <input type="number" id="moisture" name="moisture" step=".01" min="0.01" max="99.99"/>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset"/>
    </form>
<p>True protein content: <span id="true-protein2"></span></p>

<p>When checking for true protein content, there may not be much of a difference if you are
    comparing two canned wet foods, but there may be a big difference if you're comparing kibble 
    to wet food. Please note that you should still check the ingredients, as this only determines 
    the quantity, not necessarily quality of protein in your pet food.
</p>

{% endblock %}

{% block js %}
<script src="/static/calculator.js"></script>
{% endblock %}