{% extends 'base.html' %}

{% block title %}Disclaimer{% endblock %}

{% block body %}
<p>This site is not a confirmed guarantee as to whether or not 
    a particular brand or food is healthier than another. This site is
    not sponsored by any brands and merely breaks down the estimated contents 
    of a food as by the 
    <a href="https://www.fda.gov/animal-veterinary/animal-health-literacy/pet-food-labels-general">
        FDA standards for pet food naming and ingredient labels</a>.
    This site is NOT a substitute for a licensed pet nutritionist or veterinary diet 
    recommendation. Please consult your vet and make sure to double check your research, 
    thank you.
</p>
<a href="/fillout" class="btn btn-lg btn-primary">Click here to continue</a>
{% endblock %}

{% block js %}
{% endblock %}