{% extends 'base.html' %}

{% block title %}Fill out the form to see what's in your pet's food{% endblock %}

{% block body %}
<div class = "fillout-form">
    <h2>Fill out the form to see what's in your pet's food</h2>
<form action="/save-list" id="ingredients-form" method="POST">
    <div class="fill1" id="fill1">
            <label for="product_name">Product Name: </label>
            <input type="text" name="product_name" required="required" placeholder="Ex: Purina Beef Benefuls" maxlength="80" >
    </div>

    <div class="ingredient_name" id="ingredient_name">
        <label for="ingredient_name">What's the first ingredient in the product name? (IE: 
            if it is called "Turkey & Fish cat food", then the first ingredient is turkey, which is a Poultry ingredient)
        </label>
        <br>
        <select name="ingredient_name" id="ingredient_name" required="required">
            <option value="">--Please choose an option--</option>
            <optgroup label="Protein">
                <option value="Poultry">Poultry</option>
                <option value="Pork">Pork</option>
                <option value="Beef/Deer">Beef/Deer</option>
                <option value="Fish/Seafood">Fish/Seafood</option>      
            </optgroup>
            <optgroup label="Other">
                <option value="Fruit">Fruit</option>
                <option value="Veggie/Grain/Fruit">Vegetable/Grain/Fruit</option>
                <option value="Dairy">Dairy (such as Cheese or Milk)</option>
            </optgroup>            
        </select>
    </div>

    <div class="descriptor" id="descriptor">
        <label for="descriptor">Does the product name use any of these descriptors? Please note: Paté is a type of cat food, <b>not</b> a descriptor.
        </label>
        <br>
        <select name="descriptor" id="descriptor" required="required">
            <option value="">--Please choose an option--</option>
            <option value="dinner">Dinner, entree, nuggets, etc.</option>
            <option value="flavor">Flavor, as in "Chicken-flavored"</option>
            <option value="with">With, such as "made with real beef"</option>
            <option value="None">N/A</option>
        </select>
    </div>
    
    <div class="others" id="others" name="others">
        <label for="others">Does the ingredient label contain any of these ingredients? Leave blank if none in that category apply.</label>
        <br>
        <label for="grains">Grains</label>
        <fieldset id="grains" name="grains">
            <input type="radio" value="soy" name="grains">
            <label for="soy">Soy</label><br/>
            <input type="radio" value="corn" name="grains">
            <label for="corn">Corn</label><br/>
            <input type="radio" value="wheat" name="grains">
            <label for="wheat">Wheat</label><br/>
        </fieldset>
        <label for="additives">Additives</label>
        <fieldset id="additives" name="additives">
            <input type="radio" value="toco" name="additives">
            <label for="toco">Tocopherols (mixed or non-mixed)</label><br/>
            <input type="radio" value="la2p" name="additives">
            <label for="la2p">L-ascorbyl-2-polyphosphate</label><br/>
            <input type="radio" value="msbc" name="additives">
            <label for="msbc">Menadione sodium bisulfate complex</label><br/>
        </fieldset>
        <label for="proteins">Proteins</label>
        <fieldset id="proteins" name="proteins">
            <input type="radio" value="p1" name="proteins">
            <label for="p1">Meat, just meat</label><br/>
            <input type="radio" value="p2" name="proteins">
            <label for="p2">Meat meal</label><br/>
            <input type="radio" value="p3" name="proteins">
            <label for="p3">Meat and bone meal</label><br/>
            <input type="radio" value="p4" name="proteins">
            <label for="p4">Meat by-product</label><br/>
            <input type="radio" value="p5" name="proteins">
            <label for="p5">Meat digest</label><br/>
        </fieldset>
        <label for="preservatives">Preservatives</label>
        <fieldset id="preservatives" name="preservatives">
            <input type="radio" value="bha" name="preservatives">
            <label for="bha">Butylated Hydroxyanisole (BHA)</label><br/>
            <input type="radio" value="bht" name="preservatives">
            <label for="bht">Butylated Hydroxytoluene (BHT)</label><br/>
            <input type="radio" value="eth" name="preservatives">
            <label for="eth">Ethoxyquin</label><br/>
        </fieldset>
    </div>
    <div class="submit-reset-btns">
        <input type="submit"> <input type="reset" onclick="return confirm_reset();" value="Clear form">
    </div>
    </form>
</div>
{% endblock %}

{% block js %}
<a class="btn btn-primary" href="/" role="button">Click here to go back to the homepage</a>
<a class="btn btn-primary" href="/calculator" role="button">Click here to find the true protein content</a>
<script src="/static/fillout.js"></script>
{% endblock %}